---
const env = "production";
---

<html>
<body>
    <h1 class={"className"}>{"heading"}</h1>
    <p class={`${"className"}`}>Environment: {env}</p>
    {
        true ? <div>Released</div> : <div>Not Released</div>
    }
</body>
</html>

<script>
    console.log(`Client script: ${"build"}`);
    console.log(`${"./files/*.js,**/*.ts"}`);
</script>
